body{
  background-color: #c6c9ce;
  font-family: "Futura", sans-serif;
}

.pageTitle{
  text-align:center;
  font-weight:bold;
  font-size:100px;
  padding:30px 0px 30px 0px;
  background-color:#4286f4;
  color:white;
}




#question1, #question2{
  font-size:60px;
  font-weight:bold;
}


.cardBody{
  text-align:center;
}

#userInput1, #userInput2 {
  padding:7.5px;
  border-radius:8px;
  border: solid 1px #4286f4;
}

#submitButton1, #submitButton2 {
  padding:7.5px 20px 7.5px 20px;
  border-radius:8px;
  border: solid 1px #4286f4;
  background-color:white;
  color:#4286f4;
}

#submitButton1:hover, #submitButton2:hover {
  border: solid 1px #4286f4;
  background-color:#4286f4;
  color:white;
  transition: background-color, color .3s;
}

.footer {
  color:#4286f4;
  text-align:center;
}


.card_box {
  height:400px;
  padding:30px;
}


.boxTitle{
  font-size: 20px;
  color:#4286f4;
}
